<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code Fellowship Sign-up</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- executed by the browser -->
    <link href="/styles.css" rel="stylesheet" />
</head>
<body>
    <div th:replace="${principal != null} ? ~{fragments/authHeader :: header(principal=${principal})} : ~{fragments/mainHeader:: header}"></div>

    <h1>Code Fellowship Sign-up</h1>
    <form action="/signup" method="POST">
        <label for="username">Username: </label><input name="username" id="username"/>
        <label for="password">Password:</label><input name="password" id="password"/>
        <label for="firstName">First name: </label><input name="firstName" id="firstName">
        <label for="lastName">Last name: </label><input name="lastName" id="lastName">
        <label for="birthDate">Birth Date: </label><input type="date" name="birthDate" id="birthDate">
        <label for="bio">Short bio: </label><textarea name="bio" id="bio"></textarea>
        <input type="submit" />
    </form>
</body>
</html>