<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <h1>User List</h1>
    <div th:each="user : ${users}">
        <p><span th:text="${user.lastName}"></span>, <span th:text="${user.firstName}"></span></p>
        <ul th:each="post : ${user.posts}">
            <li th:text="${post.body}"></li>
            <li th:text="${post.timeStamp}"></li>
        </ul>
        <a th:href="@{'/users/' + ${user.id}}">Profile</a>
    </div>
</body>
</html>